.context{
  width: 100%;
  position: relative;
  cursor: pointer;

  img{
    width: 100%;
  }

  .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    @include flex-center;
    visibility: visible;

    h1{
      font-size: 2em;
      font-weight: 100;
      color:white;
      line-height: 1em;
      transition: opacity .2s ease;
    }
  }

  .overlay:hover > h1{
    opacity: .5;
  }
}





//////////////////////////////////////////////

@media (min-width:767px) {
  .context{
    width: 50%;
  }
}

@media (min-width:1024px) {
  .context{
    width: 33.333%;
  }
}

@media (min-width:1366px) {
  .context{
    width: 25%;
  }
}
